<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1064" key="acd1296d-dc33-4323-97cf-57dfb4139711" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-01-09T15:23:39" updateDate="2018-01-10T09:14:46" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1063" creatorName="Mark Gil Libres" writerName="Mark Gil Libres" writerID="0" template="1062" nodeTypeAlias="home" isPublished="true">
    <dayOfWeek><![CDATA[[
  null,
  true,
  null,
  false,
  true,
  null,
  true
]]]></dayOfWeek>
  </home>
</root>